<style>
	.lb_flex-item 
	{	
		min-width	:450px;
		width		:450px;
		max-width	:450px;
		flex-wrap	:nowrap;
		margin-top	:10px;  
	}
	.lb_flex-item-help 
	{
		min-width	:100px;
		width		:100%;
		position	:relative;
		margin-left	:10px;
	}
</style>

<h3 class="ui-bar ui-bar-a ui-corner-all">Grafana</h3>

<form>
<div class="ui-body ui-body-a ui-corner-all">

	<div class="lb_flex-container Grafana">
		<div	class="lb_flex-item-label">
		</div>
		<div	class="lb_flex-item-spacer"></div>
		<div	class="lb_flex-item">
			<a href="<TMPL_VAR GRAFANA_URL>" class="ui-btn ui-corner-all" target="_blank">Open Grafana Webinterface</a>
		</div>
		<div	class="lb_flex-item-spacer"></div>
		<div	class="lb_flex-item-help hint">
		</div>
		<div	class="lb_flex-item-spacer"></div>
	</div>

<!-- COMMENT UNFINISHED 

	<div class="lb_flex-container Grafana">
		<div	class="lb_flex-item-label">
			<label	class=	"control-label"
				for="GrafanaPort">Grafana Port</label>
		</div>
		<div	class="lb_flex-item-spacer"></div>
		<div	class="lb_flex-item">
			<input width="100%" value="3000" id="GrafanaPort" name="GrafanaPort" type="text" class="textfield" 
			data-validation-rule="special:port" data-validation-error-msg="Please enter a valid port number. Default is 3000.">
		</div>
		<div	class="lb_flex-item-spacer"></div>
		<div	class="lb_flex-item-help hint">
			Port for Grafana's webinterface. Don't change it if not necessary.
		</div>
		<div	class="lb_flex-item-spacer"></div>
	</div>

	<div class="lb_flex-container Grafana">
		<div	class="lb_flex-item-label">
			<label	class=	"control-label"
				for="GrafanaPort">Enable Login</label>
		</div>
		<div	class="lb_flex-item-spacer"></div>
		<div	class="lb_flex-item">
			<input type="checkbox" data-role="flipswitch" name="GrafanaLogin" id="GrafanaLogin">
		</div>
		<div	class="lb_flex-item-spacer"></div>
		<div	class="lb_flex-item-help hint">
			Activate Grafana's login page. If disabled no authentication is required.
		</div>
		<div	class="lb_flex-item-spacer"></div>
	</div>

	<div style="padding: 0px 0px 20px 0px;"></div>

	<div class="lb_flex-container MQTT">
		<div	class="lb_flex-item-label">
		</div>
		<div	class="lb_flex-item-spacer"></div>
		<div	class="lb_flex-item">
			<a href="javascript:saveGrafana();" id="btnsavegrafana"
			class="ui-btn ui-corner-all ui-btn-icon-left ui-icon-check">
			Save & Activate</a>
			<div class="hint" id="grafana_hint">&nbsp;</div>
		</div>
		<div	class="lb_flex-item-spacer"></div>
		<div	class="lb_flex-item-help hint">
		</div>
		<div	class="lb_flex-item-spacer"></div>
	</div>

-->

</div>
</form>

<script>
	// Validation
	validate_enable('#GrafanaPort');
</script>
