<style>
.datahidden {
	display:none;
}

.small {
	font-size:70%;
}

.grayed {
	color: gray;
}

.center {
	text-align: center;
}

.LoxoneDetails_table {
	min-width: 400px;
	width: 400px;
	border-collapse: collapse;
	border-bottom: 1px solid gray;
}

.LoxoneDetails_tr {
	padding: 2px 5px 2px 5px;
}
.LoxoneDetails_td {
	padding: 2px 5px 2px 5px;
	border-collapse: collapse;
	border-top: 1px solid gray;
	// border-bottom: 1px solid gray;
}

.controlstable {
	border-bottom: 1px solid gray;
	width:100%;
}

.controlstable tr {
	padding: 2px 5px 2px 5px;
}
.controlstable td {
	padding: 2px 5px 2px 5px;
	border-collapse: collapse;
	border-top: 1px solid gray;
	/* border-bottom: 1px solid gray; */
}

tr:nth-child(even).controlstable_tr {background: #EEE}
tr:nth-child(odd).controlstable_tr {background: #FFF}

.s4l_interval_highlight {
	background-color: #0059b3 !important;
	text-shadow:none !important;
	color:white !important;
}

.popuptitle {
	background-color: #6dac20;
	color: white;
	text-shadow: 1px 1px 2px black;
	padding: 5px;
}

#progressState {
	min-width:200px;
	min-height:70px;

}

.hintbox {
	background-color: #ffff73;
	padding: 15px;
	border: 1px solid gray;
}

.ui-icon-import:after {
	background-image: url("images/import_icon.png");
}
.ui-nosvg .ui-icon-import:after {
	background-image: url("images/import_icon.png");
}

.progress-border {
	border:1px solid #ccc;
}
.progress-fill {
	background-color:#6dac20;
}


</style>

