<script type="text/javascript" src="./js/home.js"></script>

<style>
.datahidden {
	display:none;
}

.small {
	font-size:70%;
}

.middle {
	font-size:120%;
}

.bold {
	font-weight: bold;
}

.grayed {
	color: gray;
}

.center {
	text-align: center;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-column-gap: 15px;
	grid-row-gap: 15px;
}
.box { 
	border: 1px solid black;
}

.margin {
	margin: 10px;
}

.status {
	padding: 10px;
	box-sizing: border-box;
	border-radius: 5px 5px 5px 5px;
	margin: 10px;
	background: #dfdfdf;
	border: 1px solid #7E7E7E;
}

</style>

<div class="grid">
	<div class="box">
		<object data="<TMPL_VAR GRAFANA_URL>/d-solo/ff725681-27a4-408c-9491-772415f41412/plugin-home?orgId=1&refresh=60s&from=now-24h&to=now&theme=light&panelId=5" width="99%"></object>
	</div>
	<div class="box">
		<object data="<TMPL_VAR GRAFANA_URL>/d-solo/ff725681-27a4-408c-9491-772415f41412/plugin-home?orgId=1&refresh=60s&from=now-24h&to=now&theme=light&panelId=2" width="99%"></object>
	</div>
	<div class="box">
		<object data="<TMPL_VAR GRAFANA_URL>/d-solo/ff725681-27a4-408c-9491-772415f41412/plugin-home?orgId=1&refresh=60s&from=now-24h&to=now&theme=light&panelId=4" width="99%"></object>
	</div>
</div>

<br>

<div class="grid">
	<div class="box">
		<div class="center middle bold margin">Telegraf</div>
		<div class="status center" id="telegraf_status">Updating...</div>
		<a href="#" onclick="service('starttelegraf');return false;"
			class="ui-btn ui-corner-all margin ui-icon-check ui-btn-icon-left">(Re)Start</a>
		<a href="#" onclick="service('stoptelegraf');return false;"
			class="ui-btn ui-corner-all margin ui-icon-delete ui-btn-icon-left">Stop</a>
		<div class="center margin" id="telegraf_hint">&nbsp;</div>
	</div>
	<div class="box">
		<div class="center middle bold margin">Influx</div>
		<div class="status center" id="influx_status">Updating...</div>
		<a href="#" onclick="service('startinfluxdb');return false;"
			class="ui-btn ui-corner-all margin ui-icon-check ui-btn-icon-left">(Re)Start</a>
		<a href="#" onclick="service('stopinfluxdb');return false;"
			class="ui-btn ui-corner-all margin ui-icon-delete ui-btn-icon-left">Stop</a>
		<div class="center margin" id="influx_hint">&nbsp;</div>
	</div>
	<div class="box">
		<div class="center middle bold margin">Grafana</div>
		<div class="status center" id="grafana-server_status">Updating...</div>
		<a href="#" onclick="service('startgrafana-server');return false;"
			class="ui-btn ui-corner-all margin ui-icon-check ui-btn-icon-left">(Re)Start</a>
		<a href="#" onclick="service('stopgrafana-server');return false;"
			class="ui-btn ui-corner-all margin ui-icon-delete ui-btn-icon-left">Stop</a>
		<div class="center margin" id="grafana-server_hint">&nbsp;</div>
	</div>
	<div class="box">
		<div class="center middle bold margin">MQTT Live/Collector</div>
		<div class="status center" id="mqttlive_status">Updating...</div>
		<a href="#" onclick="service('startmqttlive');return false;"
			class="ui-btn ui-corner-all margin ui-icon-check ui-btn-icon-left">(Re)Start</a>
		<a href="#" onclick="service('stopmqttlive');return false;"
			class="ui-btn ui-corner-all margin ui-icon-delete ui-btn-icon-left">Stop</a>
		<div class="center margin" id="mqttlive_hint">&nbsp;</div>
	</div>
</div>
