<style>
	.buttonrow
	{	
		min-height	:2em;
		width		:100%;
		text-align	:center;
		font-size	:smaller;
	}
	.lb_flex-item 
	{	
		min-width	:650px;
		width		:100%;
		flex-wrap	:nowrap;
		margin-top	:10px;  
	}
	.lb_flex-item-help 
	{
		min-width	:100px;
		width		:100%;
		position	:relative;
		margin-left	:10px;
	}
</style>

<h3 class="ui-bar ui-bar-a ui-corner-all">Inputs</h3>

<form>
<div class="ui-body ui-body-a ui-corner-all">

	<h2></h2>

</div>
</form>

<h3 class="ui-bar ui-bar-a ui-corner-all">Outputs</h3>

<form>
<div class="ui-body ui-body-a ui-corner-all">

	<h2>Influx Database Configuration</h2>

	<div class="lb_flex-container Influx">
		<div	class="lb_flex-item-label">
		<TMPL_VAR INPUTSOUTPUTS.LABEL_INFLUX_STORAGE_PATH>
		</div>
		<div	class="lb_flex-item-spacer"></div>
		<div	class="lb_flex-item">
			<TMPL_VAR INFLUX_STORAGE_PATH>
		</div>
		<div	class="lb_flex-item-spacer"></div>
		<div	class="lb_flex-item-help hint">
		<TMPL_VAR INPUTSOUTPUTS.HINT_INFLUX_STORAGE_PATH>
		</div>
		<div	class="lb_flex-item-spacer"></div>
	</div>

	<div style="padding: 0px 0px 20px 0px;"></div>
	
	<div class="lb_flex-container Influx">
		<div	class="buttonrow">
			<a href="javascript:saveOutputInflux();" name="btnsaveoutputinflux" id="btnsaveoutputinflux" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check ui-btn-inline" 
				data-transition="flow" data-inline="true"><TMPL_VAR INPUTSOUTPUTS.BUTTON_SAVE></a>
		</div>
	</div>

	<div class="lb_flex-container">
			<div class="buttonrow" id="outputinflux_hint">&nbsp;</div>
	</div>

</div>
</form>






<script>
// Validation
validate_enable('#GrafanaPort');

getconfig();

var interval;

// Save Settings: Output Influx
function saveOutputInflux() {
	console.log ("Saving Influx settings");
	$(".Influx").addClass('ui-disabled');
	$("#outputinflux_hint").attr("style", "color:blue").html("<TMPL_VAR INPUTSOUTPUTS.HINT_INFLUX_SAVING>");
	$.ajax( { 
			url:     'ajax.cgi',
			type:    'POST',
			data: { 
				action: 'savepluginconfig', 
				section: 'influx', 
				influx_db_storage: $('#influxstoragepath').val()
			}
		} )
	.fail(function( data ) {
		console.log( "Saving Influx Fail:", data );
		$("#outputinflux_hint").attr("style", "color:red").html("<TMPL_VAR INPUTSOUTPUTS.HINT_INFLUX_SAVING_FAIL>");
	})
	.done(function( data ) {
		console.log( "Saving Influx Success: ", data );
		interval = window.setInterval(checkconfighandlerstatus, 1000);
	//	if ( check.error ) {
	//		$("#outputinflux_hint").attr("style", "color:red").html("<TMPL_VAR INPUTSOUTPUTS.HINT_INFLUX_SAVING_ERROR>");
	//	} else {
	//		$("#outputinflux_hint").attr("style", "color:green").html("<TMPL_VAR INPUTSOUTPUTS.HINT_INFLUX_SAVING_SUCCESS>");
	//	}
	})
	.always(function( data ) {
		console.log( "Saving Influx Finished" );
		//getconfig();
		$(".Influx").removeClass('ui-disabled');
		//$("#btnsaveoutputinflux").attr("disabled", false);
	});
}

function checkconfighandlerstatus() {
	console.log ("Checking Config-Handler Status");
	$.ajax( { 
			url:     'ajax.cgi',
			type:    'POST',
			data: { 
				action: 'config-handler-status', 
				section: 'influx', 
			}
		} )
	.fail(function( data ) {
		console.log( "Checking Config-Handler Status Fail:", data );
		data.error = 1;
	})
	.done(function( data ) {
		console.log( "Checking Config-Handler Status Success: ", data );
		data.error = 0;
	})
	.always(function( data ) {
		console.log( "Checking Config-Handler Finished" );
	});
}

// Get Config
function getconfig() {
	// Get Config
	
	console.log( "Get Config" );
	// Ajax request
	$.ajax({ 
		url:  'ajax.cgi',
		type: 'POST',
		data: { action: 'getpluginconfig' }
	})
	.fail(function( data ) {
		console.log( "getconfig Fail", data );
	})
	.done(function( data ) {
		console.log( "getconfig Success", data );
		// Fill the form with json data retrieved from the ajax getconfig call
		if ( jQuery.isEmptyObject(data)) {
			console.log("config is empty, does not exist or is invalid.");
		}
		if(data.influx.db_storage) {
			console.log( "getconfig idb_storage is: ", data.influx.db_storage );
			$('#influxstoragepath').val(data.influx.db_storage);
		} else {
			$("#influxstoragepath").val('/opt/loxberry/data/plugins/stats4lox/influxdb');
		}
	})
	.always(function( data ) {
		console.log( "getconfig Finished" );
	})
}

function refreshMQTTForm() {
	console.log("refreshMQTTForm");
	$(".MQTT").removeClass("ui-state-disabled");
	if( $("#MQTTUseMQTTGateway").is(":checked") ) 
		$(".ownbroker").addClass("ui-state-disabled");
	else 
		$(".ownbroker").removeClass("ui-state-disabled");
}

$("#MQTTUseMQTTGateway").on("click", refreshMQTTForm);

</script>

