<script type="text/javascript" src="./js/home.js"></script>

<style>
.datahidden {
	display:none;
}

.small {
	font-size:70%;
}

.middle {
	font-size:120%;
}

.bold {
	font-weight: bold;
}

.grayed {
	color: gray;
}

.center {
	text-align: center;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-column-gap: 15px;
	grid-row-gap: 15px;
}
.box { 
	border: 1px solid black;
}

.margin {
	margin: 10px;
}

</style>

<p>
	Currently, there is nothing to see or configure in here :-)
</p>