<style>
.datahidden {
	display:none;
}

.small {
	font-size:70%;
}

.grayed {
	color: gray;
}

.center {
	text-align: center;
}

.importreport_table {
	width:100%;
	border-collapse: collapse;
	border-bottom: 1px solid gray;
}

.importreport_table tr {
	padding: 2px 5px 2px 5px;
}
.importreport_table td {
	padding: 2px 5px 2px 5px;
	border-collapse: collapse;
	border-top: 1px solid gray;
	/* border-bottom: 1px solid gray; */
}
.importreport_table td.noborder {
	padding: 2px 5px 2px 5px;
	border-collapse: collapse;
	border-top: 0px;
	/* border-bottom: 1px solid gray; */
}

tr:nth-child(even).controlstable_tr {background: #CCC}
tr:nth-child(odd).controlstable_tr {background: #FFF}

.s4l_interval_highlight {
	background-color: #0059b3 !important;
	text-shadow:none !important;
	color:white !important;
}

.popuptitle {
	background-color: #6dac20;
	color: white;
	text-shadow: 1px 1px 2px black;
	padding: 5px;
}

#progressState {
	min-width:200px;
	min-height:70px;

}

.hintbox {
	background-color: #ffff73;
	padding: 15px;
	border: 1px solid gray;
}

.coll_heading_running {
	background-color:#7373ff;

}
.coll_heading_scheduled {
	background-color:#ffffbf;
	
}
.coll_heading_finished {
	background-color:#bfffdf;
	
}
.coll_heading_error {
	background-color:red;
	
}
.coll_heading_dead {
	background-color:#8c0000;
	
}

.progress-border {
	border:1px solid #ccc;
}
.progress-fill {
	background-color:#6dac20;
}


</style>

<div class="datahidden" id="miniservers_json"><TMPL_VAR LOXONE_MINISERVERS></div>

<!-- Language strings for JavaScript -->
<div class="datahidden" id="lang_import_miniserver"><TMPL_VAR IMPORT.LABEL_MINISERVER></div>
<div class="datahidden" id="lang_import_started"><TMPL_VAR IMPORT.LABEL_STARTED></div>
<div class="datahidden" id="lang_import_progress"><TMPL_VAR IMPORT.LABEL_PROGRESS></div>
<div class="datahidden" id="lang_import_current_month"><TMPL_VAR IMPORT.LABEL_CURRENT_MONTH></div>
<div class="datahidden" id="lang_import_estimated_end"><TMPL_VAR IMPORT.LABEL_ESTIMATED_END></div>
<div class="datahidden" id="lang_import_finished"><TMPL_VAR IMPORT.LABEL_FINISHED></div>
<div class="datahidden" id="lang_import_duration"><TMPL_VAR IMPORT.LABEL_DURATION></div>
<div class="datahidden" id="lang_import_records"><TMPL_VAR IMPORT.LABEL_IMPORTED_RECORDS></div>
<div class="datahidden" id="lang_import_error_month"><TMPL_VAR IMPORT.LABEL_ERROR_MONTH></div>
<div class="datahidden" id="lang_import_last_update"><TMPL_VAR IMPORT.LABEL_LAST_UPDATE></div>
<div class="datahidden" id="lang_import_open_log"><TMPL_VAR IMPORT.BUTTON_OPEN_LOG></div>
<div class="datahidden" id="lang_import_reimport"><TMPL_VAR IMPORT.BUTTON_REIMPORT></div>
<div class="datahidden" id="lang_import_retry"><TMPL_VAR IMPORT.BUTTON_RETRY></div>
<div class="datahidden" id="lang_import_delete"><TMPL_VAR COMMON.BUTTON_DELETE></div>
<div class="datahidden" id="lang_import_no_running"><TMPL_VAR IMPORT.NO_RUNNING></div>
<div class="datahidden" id="lang_import_no_waiting"><TMPL_VAR IMPORT.NO_WAITING></div>
<div class="datahidden" id="lang_import_no_finished"><TMPL_VAR IMPORT.NO_FINISHED></div>
<div class="datahidden" id="lang_import_no_errors"><TMPL_VAR IMPORT.NO_ERRORS></div>
<div class="datahidden" id="lang_import_no_dead"><TMPL_VAR IMPORT.NO_DEAD></div>
<div class="datahidden" id="lang_import_popup_delete_title"><TMPL_VAR IMPORT.POPUP_DELETE_TITLE></div>
<div class="datahidden" id="lang_import_popup_delete_text"><TMPL_VAR IMPORT.POPUP_DELETE_TEXT></div>
<div class="datahidden" id="lang_button_hide"><TMPL_VAR COMMON.BUTTON_HIDE></div>
<div class="datahidden" id="lang_sub_statistic_selection"><TMPL_VAR NAVBAR.SUB_STATISTIC_SELECTION></div>
<div class="datahidden" id="lang_sub_import_report"><TMPL_VAR NAVBAR.SUB_IMPORT_REPORT></div>
<div class="datahidden" id="lang_import_unknown"><TMPL_VAR IMPORT.LABEL_UNKNOWN></div>
<div class="datahidden" id="lang_import_minutes_short"><TMPL_VAR IMPORT.LABEL_MINUTES_SHORT></div>
<div class="datahidden" id="lang_import_na"><TMPL_VAR IMPORT.LABEL_NA></div>
<div class="datahidden" id="lang_import_error_label"><TMPL_VAR IMPORT.LABEL_ERROR></div>

<!-- Delete popup -->
<div data-role="popup" id="popupDeleteImport" data-dismissible="false" style="max-width:400px">
	<div style="padding: 20px 20px;">
		<h4 class="ui-title popuptitle"><TMPL_VAR IMPORT.POPUP_DELETE_TITLE></h4>
		<div id="deleteImportText">
			<p>
				<span id="popupDeleteImport_uid"></span><br>
				<span id="popupDeleteImport_name"></span><br>
			</p>
			<TMPL_VAR IMPORT.POPUP_DELETE_TEXT>
		</div>
	</div>
</div>

<p><TMPL_VAR IMPORT.DESCRIPTION></p> 

<div data-role="collapsible" data-collapsed="false" id="coll_running" data-mini="true" data-inset="false" class="coll_heading_running">
	<h4><TMPL_VAR IMPORT.SECTION_RUNNING></h4>
	<div>
		<table class="importreport_table importreport_table_running" id="data_importreport_running">
			<tbody>
			<tr><td><TMPL_VAR COMMON.STATUS_UPDATING></td></tr>
			</tbody>
		</table>
	</div>
</div>

<div data-role="collapsible" data-collapsed="false" id="coll_scheduled" data-mini="true" data-inset="false" class="coll_heading_scheduled">
    <h4><TMPL_VAR IMPORT.SECTION_WAITING></h4>
   <div>
		<table class="importreport_table importreport_table_scheduled" id="data_importreport_scheduled">
			<tbody>
			<tr><td><TMPL_VAR COMMON.STATUS_UPDATING></td></tr>
			</tbody>
		</table>
	</div>
</div>

<div data-role="collapsible" data-collapsed="false" id="coll_finished" data-mini="true" data-inset="false" class="coll_heading_finished">
    <h4><TMPL_VAR IMPORT.SECTION_FINISHED></h4>
    <div>
		<table class="importreport_table importreport_table_finished" id="data_importreport_finished">
			<tbody>
			<tr><td><TMPL_VAR COMMON.STATUS_UPDATING></td></tr>
			</tbody>
		</table>
	</div>
</div>

<div data-role="collapsible" data-collapsed="false" id="coll_error" data-mini="true" data-inset="false" class="coll_heading_error">
    <h4><TMPL_VAR IMPORT.SECTION_ERROR></h4>
    <div>
		<table class="importreport_table importreport_table_error" id="data_importreport_error">
			<tbody>
			<tr><td><TMPL_VAR COMMON.STATUS_UPDATING></td></tr>
			</tbody>
		</table>
	</div>
</div>


<div data-role="collapsible" data-collapsed="false" id="coll_dead" data-mini="true" data-inset="false" class="coll_heading_dead">
    <h4><TMPL_VAR IMPORT.SECTION_DEAD></h4>
    <div>
		<table class="importreport_table importreport_table_dead" id="data_importreport_dead">
			<tbody>
			<tr><td><TMPL_VAR COMMON.STATUS_UPDATING></td></tr>
			</tbody>
		</table>
	</div>
</div>





<!-- Table -->
<div class="datahidden" id="reportstablediv">
</div>
