<style>
.datahidden {
	display:none;
}

.small {
	font-size:70%;
}

.grayed {
	color: gray;
}

.center {
	text-align: center;
}

.LoxoneDetails_table {
	min-width: 400px;
	width: 400px;
	border-collapse: collapse;
	border-bottom: 1px solid gray;
}

.LoxoneDetails_tr {
	padding: 2px 5px 2px 5px;
}
.LoxoneDetails_td {
	padding: 2px 5px 2px 5px;
	border-collapse: collapse;
	border-top: 1px solid gray;
	// border-bottom: 1px solid gray;
}

tr:nth-child(even).controlstable_tr {background: #CCC}
tr:nth-child(odd).controlstable_tr {background: #FFF}

.s4l_interval_highlight {
	background-color: #0059b3 !important;
	text-shadow:none !important;
	color:white !important;
}

.popuptitle {
	background-color: #6dac20;
	color: white;
	text-shadow: 1px 1px 2px black;
	padding: 5px;
}

#progressState {
	min-width:200px;
	min-height:70px;

}

.hintbox {
	background-color: #ffff73;
	padding: 15px;
	border: 1px solid gray;
}


</style>

<div class="datahidden" id="loxone_elements_json"><TMPL_VAR LOXONE_ELEMENTS></div>
<div class="datahidden" id="miniservers_json"><TMPL_VAR LOXONE_MINISERVERS></div>

<!-- Hints: Select stats -->
<div id="hint_activatestatistics" class="hintbox" style="display:none;">
<b>Statistic Selection hint</b><br>
<p>Filter or search for Loxone elements you want to activate statistics for. 
Press the Details button to get live data from the Miniserver, and select the
interval and outputs you want to record.
Changes in the Details view are applied immediately (no "Save" button). 
</p>
<a href="#" class="ui-btn ui-btn-inline ui-mini" onclick="hint_hide('hint_activatestatistics');">Hide</a>
</div>



<!-- Progress popup -->
<div data-role="popup" id="popupProgress" data-dismissible="false" style="max-width:400px">
	<div style="padding: 20px 20px;">
		<h4 class="ui-title popuptitle">Progress</h4>
		<div id="progressState"></div>
	</div>
</div>

<!-- Loxone Details popup -->
<div data-role="popup" id="popupLoxoneDetails" data-dismissible="true" >
	<a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
	<div style="padding: 10px 10px; display:flex;flex-wrap:wrap;justify-content:center;width:900px;">
		<h4 class="ui-title popuptitle" id="titleLoxoneDetails" style="flex-basis:100%;margin:10px">
			<span id="LoxoneDetails_titletitle">&nbsp;</span><br>
			<i><span id="LoxoneDetails_titledesc"></span></i>
		</h4>
		
		<div id="contentLoxoneDetails" style="margin:3px;">
			<h4 class="popuptitle" style="margin:5px">
				Details
			</h4>
			
			<input class="small" id="LoxoneDetails_uid" type="text" value="" size="36" style="outline: none;box-shadow:none;margin:5px;width:95%;" data-role="none">
		
			<!--- Control Table --> 
			<table class="LoxoneDetails_table data-uidmsno" data-uid="" data-msno="">
			
				<tr class="LoxoneDetails_tr">
					<td class="center LoxoneDetails_td">
						<span class="grayed small" id="LoxoneDetails_placelabel">&nbsp;</span><br>
						<span id="LoxoneDetails_place">&nbsp;</span>
					</td>
					<td class="center LoxoneDetails_td">
						<span class="grayed small" id="LoxoneDetails_categorylabel">&nbsp;</span><br>
						<span id="LoxoneDetails_category">&nbsp;</span>
					</td>
					<td class="center LoxoneDetails_td">
						<span class="grayed small" id="LoxoneDetails_typelabel">&nbsp;</span><br>
						<label id="LoxoneDetails_typehover" href="#" title="">
							<span id="LoxoneDetails_type">&nbsp;</span>
						</label>
					</td>
				</tr>
				
				<tr class="LoxoneDetails_tr">
					<td class="center LoxoneDetails_td">
						<span class="grayed small">Miniserver</span><br>
						<span id="LoxoneDetails_miniserver">&nbsp;</span>
					</td>
					<td class="center LoxoneDetails_td">
						<span class="grayed small" id="LoxoneDetails_pagelabel">&nbsp;</span><br>
						<span id="LoxoneDetails_page">&nbsp;</span>
					</td>
					<td class="center LoxoneDetails_td">
						<span class="grayed small">&nbsp;</span><br>
						<span>&nbsp;</span>
					</td>
				</tr>
				
				<tr class="LoxoneDetails_tr">
					<td class="center LoxoneDetails_td">
						<span class="grayed small" id="LoxoneDetails_visulabel">Visualisation</span><br>
						<span id="LoxoneDetails_visu">&nbsp;</span>
					</td>
					<td class="center LoxoneDetails_td">
						<span class="grayed small" id="LoxoneDetails_loxstatlabel">Loxone Statistics</span><br>
						<span id="LoxoneDetails_loxstat">&nbsp;</span>
					</td>
					<td class="center LoxoneDetails_td">
						<span class="grayed small">&nbsp;</span><br>
						<span>&nbsp;</span>
					</td>
				</tr>
				
				<tr class="LoxoneDetails_tr">
					<td class="center LoxoneDetails_td" colspan="2">
						<span class="grayed small" id="LoxoneDetails_s4lstatlabel">Stats4Lox Statistics</span><br>
						<input type="checkbox" id="LoxoneDetails_s4lstatactive" name="LoxoneDetails_s4lstatactive" data-mini="true" class="s4lchange">
						<label for="LoxoneDetails_s4lstatactive">activate</label>
					</td>
					<td class="center LoxoneDetails_td">
						<span class="grayed small" id="LoxoneDetails_s4lstatintervallabel">Interval (minutes)</span><br>
						<input type="number" data-clear-btn="true" name="LoxoneDetails_s4lstatinterval" id="LoxoneDetails_s4lstatinterval" pattern="[0-9]*" value="" class="s4lchange" min="0" max="9999">
					</td>
				</tr>
				
			</table>
		</div>
		
		<!-- Live Data from Miniserver table --> 
		<div style="margin:3px;">
			<h4 id="valuesLoxoneDetailsLive_title" class="popuptitle" style="margin:5px">
				&nbsp;
			</h4>
		
			<table class="LoxoneDetails_table data-uidmsno" id="valuesLoxoneDetailsLive_table" data-uid="" data-msno="">
				<tr>
					<td>Default</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
			</table>
		</div>
	</div>
</div>




<!-- Filter -->

<!-- Filter Miniserver / Room / Category / Type -->
<fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
    <legend>Filter</legend>
    <label for="filter_miniserver">Miniserver</label>
    <select name="filter_miniserver" id="filter_miniserver" class="filter_select">
        <option value="all">All Miniservers</option>
    </select>
    <label for="filter_room">Room</label>
    <select name="filter_room" id="filter_room" class="filter_select">
        <option value="all">All rooms</option>
    </select>
    <label for="filter_category">Category</label>
    <select name="filter_category" id="filter_category" class="filter_select">
        <option value="all">All categories</option>
    </select>
    <label for="filter_element">Element</label>
    <select name="filter_element" id="filter_element" class="filter_select">
        <option value="all">All elements</option>
    </select>



</fieldset>

<!-- Filter Loxone Visu enabled -->

<div style="display:flex;">
<div style="padding:5px;">
<fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
	<legend>Loxone Visu</legend>
	<input type="radio" name="filter_loxvisu" id="filter_loxvisu_all" value="all" checked="checked" class="filter_radio">
	<label for="filter_loxvisu_all">All</label>
	<input type="radio" name="filter_loxvisu" id="filter_loxvisu_on" value="on" class="filter_radio">
	<label for="filter_loxvisu_on">On</label>
	<input type="radio" name="filter_loxvisu" id="filter_loxvisu_off" value="off" class="filter_radio">
	<label for="filter_loxvisu_off">Off</label>
</fieldset>
</div>

<!-- Filter Loxone Stat enabled -->
<div style="padding:5px;">
<fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
	<legend>Loxone Statistic</legend>
	<input type="radio" name="filter_loxstat" id="filter_loxstat_all" value="all" checked="checked" class="filter_radio">
	<label for="filter_loxstat_all">All</label>
	<input type="radio" name="filter_loxstat" id="filter_loxstat_on" value="on" class="filter_radio">
	<label for="filter_loxstat_on">On</label>
	<input type="radio" name="filter_loxstat" id="filter_loxstat_off" value="off" class="filter_radio">
	<label for="filter_loxstat_off">Off</label>
</fieldset>
</div>

<!-- Filter S4L Stat enabled -->
<div style="padding:5px;">
<fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
	<legend>Stats4Lox Statistic</legend>
	<input type="radio" name="filter_s4lstat" id="filter_s4lstat_all" value="all" checked="checked" class="filter_radio">
	<label for="filter_s4lstat_all">All</label>
	<input type="radio" name="filter_s4lstat" id="filter_s4lstat_on" value="on" class="filter_radio">
	<label for="filter_s4lstat_on">On</label>
	<input type="radio" name="filter_s4lstat" id="filter_s4lstat_off" value="off" class="filter_radio">
	<label for="filter_s4lstat_off">Off</label>
</fieldset>
</div>

</div>

<!-- Search line -->
<div>
	<input type="search" name="filter_search" id="filter_search" value="" data-mini="true">
</div>


<!-- Table -->
<div class="datahidden" id="loxonecontrolstablediv">
</div>
