<style>
.datahidden {
	display:none;
}

.small {
	font-size:70%;
}
tr:nth-child(even).controlstable_tr {background: #CCC}
tr:nth-child(odd).controlstable_tr {background: #FFF}


</style>

<script>
	// Language specific block names, associative array
	const loxone_elements = { 
		<TMPL_VAR LOXONE_ELEMENTS>
	};
	



</script>

<div class="datahidden" id="miniservers"><TMPL_VAR LOXONE_MINISERVERS></div>




<div data-role="popup" id="popupProgress" data-dismissible="false" style="max-width:400px;">
	<div style="padding: 20px 20px;">
		<h4 class="ui-title">Progress</h4>
		<div id="progressState"></div>
	</div>
</div>




<!-- Filter -->
<fieldset data-role="controlgroup" data-type="horizontal">
    <legend>Filter</legend>
    <label for="filter_miniserver">Miniserver</label>
    <select name="filter_miniserver" id="filter_miniserver">
        <option value="0">All Miniservers</option>
    </select>
    <label for="filter_room">Room</label>
    <select name="filter_room" id="filter_room">
        <option value="all">All rooms</option>
    </select>
    <label for="filter_category">Category</label>
    <select name="filter_category" id="filter_category">
        <option value="all">All categories</option>
    </select>
</fieldset>

<!-- Table -->
<div class="datahidden" id="loxonecontrolstablediv">
</div>
